@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
.arima{
    font-family: "Arima", system-ui;
}
.navbar{
    @apply px-[30px]  md:px-[50px] h-[70px] w-full flex justify-between inset-0 m-auto bg-white
}
.navbarLogo{
    @apply flex flex-row gap-2 h-[40px] justify-center items-center inset-0 my-auto
}
.navbarLogo :last-child{
    @apply hidden md:flex h-[20px] justify-center items-center
}
.navbarList{
    @apply hidden md:flex  gap-5 md:justify-center md:items-center h-full
}
.navbarRightSide{
    @apply flex justify-center items-center gap-[20px]
}

.navbarRightSide section,  .navbarRightSide section div{
    @apply flex
}
.currentNavbarList{
    @apply text-[#008EEF] font-semibold justify-center items-center rounded-[20px] p-[4px_10px] bg-[#F6FCFF] my-[10px];
}
.navbarListDiv{
    border-image: linear-gradient( to right, #008EEF, #008EEF , #008EEF) 0 0 1 0;
    border-width: 2px;
}
.navbarHomePage :first-child p{
    @apply text-[#52616B] font-semibold  justify-center items-center
}
.hideAndShow{
    @apply hidden md:flex
}
.heroImageDiv{
    @apply w-[100%] h-[20vh] md:h-[20vh] object-contain bg-cover overflow-hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heroAbsolute{
    @apply absolute my-7 md:mt-8 ml-[7vw] md:ml-[5vw] backdrop-blur-lg md:backdrop-blur-0 p-[5px_8px] rounded-md
}
.heroAbsolute p{
     @apply md:text-white text-xs
}
.heroPurpleBox{
    @apply flex bg-[#8F47F4] text-white font-bold border-[1px] border-white w-[30px] h-[30px]
    justify-center items-center
}
.boxSection{
    @apply flex justify-around items-center px-[5px] py-[5px]
}
.boxSection p{
    @apply text-xs
}
.groupPack{
    @apply w-full md:w-[200px] px-[20px] md:px-0 md:ml-[50px]
}
.groupPack div{
    @apply h-[40px] flex items-start p-[10px_5px]
}
.groupPack div:first-child:hover,
.groupPack div:first-child:active,
.groupPack div:last-child:hover,
.groupPack div:last-child:active {
    color: #008EEF;
}
.cohortsDiv{
    @apply flex gap-x-10 mt-[20px] flex-col md:flex-row
}
.footer{
    @apply h-[60px] md:hidden w-full flex justify-around items-center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.footer section{
    @apply flex justify-center items-center flex-col
}
.footer section :first-child{
    @apply w-[30px] h-[30px]
}
.footer section p:hover{
    @apply text-[#008eef]
}
.footer section p{
    @apply text-xs
}
.dropBoxText{
    font-family: sans-serif ,'Dm sans';
    @apply text-[10px] font-thin text-gray-500
}