@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
.arima{
    font-family: "Arima", system-ui;
}
.navbar{
    @apply px-[30px]  md:px-[50px] h-[70px] w-full flex justify-between inset-0 m-auto bg-white
}
.navbarLogo{
    @apply flex flex-row gap-2 h-[40px] justify-center items-center inset-0 my-auto
}
.navbarLogo :last-child{
    @apply hidden md:flex h-[20px] justify-center items-center
}
.navbarList{
    @apply hidden md:flex  gap-5 md:justify-center md:items-center h-full
}
.navbarRightSide{
    @apply flex justify-center items-center gap-[20px]
}

.navbarRightSide section,  .navbarRightSide section div{
    @apply flex
}
.currentNavbarList{
    @apply text-[#008EEF] font-semibold justify-center items-center
    rounded-[20px] p-[4px_10px] bg-[#F6FCFF] my-[10px];
}
.navbarListDiv{
    border-image: linear-gradient( to right, #008EEF , #008EEF) 0 0 1 0;
    border-width: 2px;
}
.listDiv{
    @apply flex gap-[10px] py-[10px] items-center pl-[30px] border-b-[1px]  md:w-full
}
.currentP{
    @apply text-[#52616B] font-semibold  justify-center items-center
}
.navbarHomePage :first-child p{
    @apply text-[#52616B] font-semibold  justify-center items-center
}
.hideAndShow{
    @apply hidden md:flex
}
.heroImageDiv{
    @apply w-[100%] h-[20vh] md:h-[20vh] object-contain bg-cover overflow-hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heroAbsolute{
    @apply absolute my-7 md:mt-8 ml-[7vw] md:ml-[5vw] backdrop-blur-md p-[5px_8px] rounded-md
}
.heroAbsolute p{
     @apply md:text-white text-xs
}
.heroPurpleBox{
    @apply flex bg-[#8F47F4] text-white font-bold border-[1px] border-white w-[30px] h-[30px]
    justify-center items-center
}
.boxSection{
    @apply flex justify-around items-center px-[5px] py-[5px]
}
.boxSection p{
    @apply text-xs
}
.groupPack{
    @apply w-full md:w-[200px] px-[20px] md:px-0 md:ml-[50px]
}
.groupPack div{
    @apply h-[40px] flex items-start p-[10px_5px]
}
.groupPack div:first-child:hover,
.groupPack div:first-child:active,
.groupPack div:last-child:hover,
.groupPack div:last-child:active {
    color: #008EEF;
}
.cohortsDiv{
    @apply flex gap-x-10 mt-[20px] flex-col md:flex-row md:h-[77%]
}
.footer{
    @apply h-[60px] md:hidden w-full flex justify-around items-center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.footer div{
    @apply flex justify-center items-center flex-col
}
.footer div :first-child{
    @apply w-[30px] h-[30px]
}

.footer div p:hover,.footer div :first-child:hover{
    @apply text-[#008eef]
}
.footer section p{
    @apply text-xs
}
.dropBoxText{
    font-family: sans-serif ,'Dm sans';
    @apply text-[10px] font-thin text-gray-500
}
.mapCohort{
    @apply flex gap-[10px] flex-col w-[100%] md:gap-y-[5px] lg:h-[300px] relative
}
.mapCohortDivInner1{
    @apply justify-between w-full flex md:flex-row flex-col mt-[60px] md:mt-0 gap-[10px] md:gap-0
}
.mapCohortDivSection1{
    @apply border-[1px] border-[#323131] rounded-md h-[55px] md:h-[44px] w-[70%] md:w-[35%] mt-[10px] md:mt-0 flex items-center pr-[5px] order-2 md:order-1 ml-[20px] md:mr-0
}
.mapCohortsCreated{
    @apply gap-[20px] my-[20px] md:my-[20px] md:mt-0 flex flex-col overflow-y-auto p-[10px] md:max-h-[380px];

}
.mappedCohortsContainer{
    @apply flex justify-between rounded-xl items-center px-[10px] md:mx-[5px] h-[95px] md:px-[15px]
    md:my-[2px] shadow-md focus:border-[#557794] hover:border-[#557794] border-[1px];
}
.cohortName{
    font-weight: 450;
    font-family: 'Dm sans';
    font-size: 16px;
    line-height: 22px;
    max-width: 250px;
    text-overflow: ellipsis;
    @apply md:text-lg md:font-bold text-lg
}
.dateCreated{
    font-weight: 400;
    font-family: 'Dm sans';
    font-size:14px;
    line-height: 24px;
}
.ThickDmSansFont{
    font-family: "Dm sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.moreActionsPopUp{
    position:absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    gap: 30px;
    @apply bg-white m-[-40px_95px_10px_0] md:m-[-5px_55px_10px_0] rounded-md gap-x-[10px] px-[5px]
}
.moreActionsPopUp >p{
    @apply hover:border-[1px] hover:border-[#ededed] text-xs my-[7px] cursor-pointer hover:bg-blue-100
    hover:rounded-md p-[5px_7px];
    border:1px solid transparent;
}
.dmSans{
    font-family: 'Dm sans';
}
.learningOutcome{
    @apply w-full
}
.learningOutcome li{
    @apply font-thin md:my-[7px] text-xs
}
.modules{
    @apply md:h-[355px] overflow-y-auto md:w-[200px] flex flex-col px-[10px] border-r-[1px] gap-y-[10px] py-[20px] h-[450px]
}
.modules p{
    @apply max-h-[80px] h-[100px] font-thin capitalize md:w-[110px] overflow-ellipsis hover:font-bold
}
.modulesSection2{
    @apply flex flex-col overflow-y-auto border-r-[1px] md:h-[355px] px-[20px] w-[100%] py-[20px] h-[450px]
}
.articles section{
    @apply flex justify-between items-center h-[70px] px-[10px];
    border-image: linear-gradient( to right, #bababa, #bababa) 0 0 1 0;
    border-width: 1px;
}


.articles section article p{
    @apply text-xs font-thin group-hover:text-[#008EEF]
}
.articles section div p{
    @apply font-thin capitalize group-hover:text-[#008EEF]
}
.articles section div{
    @apply flex flex-col justify-center items-start gap-[10px] group-hover:text-[#008EEF]
}
.articles section article{
    @apply flex gap-[5px] group-hover:text-[#008EEF]
}
.articles>div{
    @apply h-[50px] flex justify-between items-center group-hover:text-[#008EEF];
    border-image: linear-gradient( to right, #bababa, #bababa) 0 0 1 0;
    border-width: 1px;
}
.articles div p:hover{
    @apply text-blue-400
}
.questionPack{
    @apply border-[1px] rounded p-[7px] h-auto md:h-[150px] gap-[5px] flex flex-col justify-between
}
.forumFooter{
    border-image: linear-gradient( to right, #bababa, #bababa) 0 0  1 0;
    border-width: 1px;
}
.forumFooterInners{
    border-image: linear-gradient( to right, #bababa, #bababa) 0 0  1 0;
    border-width: 1px;
    @apply  items-center h-[50px] justify-between px-[10px] flex
}
.forumFooterInners p{
    @apply w-[20%] items-start pl-[10px] uppercase;
}
.forumDate{
    @apply font-extralight text-gray-300
}
.forumHeader{
    @apply flex gap-[5px] items-center
}
.forumHeader p{
    @applyD h-[16px] font-bold text-blue-950 text-center
}
.comment{
    @apply font-thin text-sm
}
.organization{
    @apply flex gap-[10px] justify-center items-center border-[1px] drop-shadow-lg px-[10px] rounded-md py-[5px];
}
.svg:first-child,.footer section :first-child{
    color: #008eef;
}
.svg{
    @apply flex
}
.popup{
    position:absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    gap: 30px;
    @apply bg-white md:m-[-100px_55px_10px_0] md:w-[70px] rounded-md gap-x-[5px] px-[10px]
}
.popup >p{
    @apply hover:border-[1px] hover:border-[#ededed] text-xs my-[10px] cursor-pointer hover:bg-blue-100
    hover:rounded-md p-[5px_10px];
    border:1px solid transparent;
}
.sectionStyles{
    @apply flex gap-[12px]
}
.sectionStyles section{
    @apply flex gap-[3px] justify-center
}
.popupKebab{
    @apply active:bg-gray-200 h-[30px] w-[30px] rounded-xl cursor-pointer flex justify-center items-center
}